body{
margin:0;
font-family:Arial;
background:#f4f6fb;
}

header{
background:#003366;
color:white;
padding:40px;
text-align:center;
}

nav{
background:#0055aa;
padding:15px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:20px;
font-weight:bold;
}

.hero{
padding:50px;
text-align:center;
}

.countries{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:30px;
}

.card{
background:white;
width:260px;
padding:20px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,.15);
text-align:center;
}

button{
background:#0066ff;
color:white;
padding:10px 20px;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#004dcc;
}

footer{
background:#003366;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}