*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f7fb;
    color:#333;
}

header{
    background:#0057b8;
    color:white;
    text-align:center;
    padding:40px 20px;
}

header h1{
    font-size:42px;
    margin-bottom:10px;
}

nav{
    background:#003f88;
    display:flex;
    justify-content:center;
    gap:30px;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#ffd43b;
}

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h2{
    font-size:36px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
}

.countries{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:40px;
}

.card{
    background:white;
    border-radius:15px;
    padding:25px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
    text-align:center;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    margin-bottom:15px;
}

footer{
    background:#003f88;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}

.btn{
    display:inline-block;
    margin-top:15px;
    padding:12px 25px;
    background:#0057b8;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#003f88;
}